# Series

In [1]:
import pandas as pd

x = [4,5,6,7,8,4,"yash",5]

var = pd.Series(x)

print(var)
print(type(var))

print(var[3])

0       4
1       5
2       6
3       7
4       8
5       4
6    yash
7       5
dtype: object
<class 'pandas.core.series.Series'>
7

Change Index of Series

In [13]:
x = [4,5,6,7,8,4,"yash",5]

var1 = pd.Series(x, index=['a','b','c','d','e','f','g','h'])

print(var1)

a       4
b       5
c       6
d       7
e       8
f       4
g    yash
h       5
dtype: object

Datatype Change in Series

In [15]:
x = [4,5,6,7,8,4,5]

var = pd.Series(x, dtype="float", index=['a','b','c','d','e','f','g'])

print(var)
print(type(var))

a    4.0
b    5.0
c    6.0
d    7.0
e    8.0
f    4.0
g    5.0
dtype: float64
<class 'pandas.core.series.Series'>

Nameing of Data

In [16]:
x = [4,5,6,7,8,4,5]

var3 = pd.Series(x, dtype="float", index=['a','b','c','d','e','f','g'], name = "yash_numbers")

print(var3)

a    4.0
b    5.0
c    6.0
d    7.0
e    8.0
f    4.0
g    5.0
Name: yash_numbers, dtype: float64

In [7]:
dic = {"name":["python", 'c', 'c++','java'], "pos":[12,13,14,15], "rank":[1,4,3,2]}

var3 = pd.Series(dic)

print(var3)
print(var3[2])

name    [python, c, c++, java]
pos           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object
[1, 4, 3, 2]

In [25]:
s = pd.Series(12,index=[1,2,3,4,5])


print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
dtype: int64
<class 'pandas.core.series.Series'>

In [27]:
s1 = pd.Series(12, index = [1,2,3,4,5,6])
s2 = pd.Series(12, index = [1,2,3,4])

print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64

# DataFrame

In [8]:
# To create DataFrame You need list or Dict

l = [1,2,3,4,5,6]

var = pd.DataFrame(l)

var
print(type(var))
print(var)

<class 'pandas.core.frame.DataFrame'>
   0
0  1
1  2
2  3
3  4
4  5
5  6

In [11]:
d = {"a":[1,2,3,4,5], "s":[6,7,8,9,10], "d":[11,22,33,44,55], "e":['y','a','s','h','e']}

var1 = pd.DataFrame(d)

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a   s   d  e
0  1   6  11  y
1  2   7  22  a
2  3   8  33  s
3  4   9  44  h
4  5  10  55  e

In [17]:
d1 = {"a":[1,2,3,4,5,6], "s":[6,7,8,9,10,55], "d":[11,22,33,44,55,110], "e":['y','a','s','h','e','d']}

var2 = pd.DataFrame(d1)


print(type(var2))
print(var2)

<class 'pandas.core.frame.DataFrame'>
   a   s    d  e
0  1   6   11  y
1  2   7   22  a
2  3   8   33  s
3  4   9   44  h
4  5  10   55  e
5  6  55  110  d

In [13]:
var3 = var1 + var2
print(var3)

      a     s      d    e
0   2.0  12.0   22.0   yy
1   4.0  14.0   44.0   aa
2   6.0  16.0   66.0   ss
3   8.0  18.0   88.0   hh
4  10.0  20.0  110.0   ee
5   NaN   NaN    NaN  NaN

Select Preticular Column

In [39]:
var1 = pd.DataFrame(d, columns=['a','e','f'])

print(var1)

   a  e    f
0  1  y  NaN
1  2  a  NaN
2  3  s  NaN
3  4  h  NaN
4  5  e  NaN

Change Index of DataFrame

In [43]:
var1 = pd.DataFrame(d, columns=['a','e'], index=[1,2,3,4,5])
print(var1)

   a  e
1  1  y
2  2  a
3  3  s
4  4  h
5  5  e

In [45]:
print(var1['a'][4])

4

Create DataFrame Using Multidimenstional List

In [14]:
list1 = [[1,2,3,4],list("jyash")]

var4 = pd.DataFrame(list1)

print(var4)
print(type(var4))

   0  1  2  3     4
0  1  2  3  4  None
1  j  y  a  s     h
<class 'pandas.core.frame.DataFrame'>

Create DataFrame Using Seriesm

In [54]:
sr = {"s":pd.Series(12,index=[1,2,3]), "b":pd.Series([1,3,4,5])}

var5 = pd.DataFrame(sr)
print(var5)
print(type(var5))

      s  b
0   NaN  1
1  12.0  3
2  12.0  4
3  12.0  5
<class 'pandas.core.frame.DataFrame'>